@font-face {
    font-family: myfont;
    src: url(DroidSansMono.ttf);
}

html, body {
   background-color: black;
   color: white;
   font-family: myfont;
   font-size: 100%;
   max-width: 1300px;
   margin-right: 1em;
}

#indent {
	margin-left:3em;
}

#bigindent {
	margin-left:5em;
	margin-top: -17px;
	margin-bottom: 20px;
}