@font-face {
    font-family: myfont;
    src: url(DroidSansMono.ttf);
}

html, body {
   background-color: black;
   color: white;
   font-family: myfont;
   font-size: 100%;
   margin-right: 5em;
}

#indent {
	margin-left:3em;
}

#bigindent {
	margin-left:5em;
}