html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #FFDEDE;
  font-size: 175%;
  background-color: #FF6C6C
}

.section {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 200px;
}

.section-1 {
  line-height: 700px;
  background-color: #B3060C;
}

.section-2 {
  padding-bottom: 50px;
  background-color: #F74848;
}

#pic {
  display: inline-block;
  width: 40%;
}

#pic img {
  width: 100%;
  height: auto;
}

#bio {
  display: inline-block;
  width: 35%;
  line-height: 100%;
  vertical-align: top;
  font-size: 60%;
  padding-left: 20px;
  margin: -50px auto;
}

#pusheen {
  position: absolute;
  line-height: 0%;
  max-width: 100%;
  max-height: 100%;
  bottom: 0%;
  right: 0%;
}

#pusheen img {
  width: 100%;
  height: auto;
}

#linkedin {
  line-height: 100%;
}

@media screen and (max-width: 1300px) {
  #pic {
    display: block;
    width: 70%;
    margin: 20px auto;
  }

  #bio {
    display: block;
    width: 80%;
    margin: 0px auto;
    font-size: 70%;
    line-height: 130%;
  }

  #pusheen {
    width: 40%;
  }

  .section-2 {
    padding-bottom: 50px;
    height: auto;
  }

  .section-3 {
    font-size: 70%;
  }
}
